[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Jitin Nair
	email = jitin.s.nair@gmail.com
[core]
	autocrlf = input
	excludesfile = /Users/jitinnair/.gitignore
	filemode = true
